body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 245, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item-card{
  display: flex;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: rgb(219, 193, 161);
  width: 300px;
}

h1{
  margin-top: 50px;
  color:rgb(6, 77, 87)
}

